<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Username</ion-label>
    <ion-input [(ngModel)]="data.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input [(ngModel)]="data.password"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-buttons slot="end">
    <ion-button (click)="login()">
      Login
    </ion-button>
  </ion-buttons>
</ion-footer>