<ion-header [translucent]="true" class="header-bg">
  <ion-toolbar>
    <ion-title>{{ task.id ? 'Edit ' :  'Create '}}Task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="task-content header-bg">
      <div class="field">
        <div class="label">Title</div>
        <ion-input [(ngModel)]="task.title">
        </ion-input>
      </div>
      <div class="field">
        <div class="label">Status</div>
        <ion-select [(ngModel)]="task.status"  interface="popover" justify="end">
          <ion-select-option value="new">New</ion-select-option>
          <ion-select-option value="inProgress">In progress</ion-select-option>
          <ion-select-option value="done">Done</ion-select-option>
          <ion-select-option value="canceled">Canceled</ion-select-option>
        </ion-select>
      </div>
      <div class="field">
        <div class="label">Description</div>
        <ion-input [(ngModel)]="task.description">
        </ion-input>
      </div>
      <div class="field" (click)="openDateTime($event)">
        <div class="label">Estimate time</div>
       <div class="date">
        {{ task.estimateTime | datefmt }}
       </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-buttons>
    <div class="button save-btn" (click)="save()">
      Save
    </div>
  </ion-buttons>
</ion-footer>