<ion-header>
  <div class="menu header-bg">
    <div class="home">Todo List</div>
    <div class="account">
      R
    </div>
  </div>  
</ion-header>


<ion-content>
  <div class="container">
    
    <div class="tasks header-bg">
      <div class="tasks-header">
        <div class="title">
          Tasks
        </div>
        <div class="button" (click)="add()">
          Add
        </div>
      </div>

      @for (task of tasks; track task) {
        <div class="task">
          <div class="task-icon" 
              [ngClass]="{'done': task.status == statuses.DONE, 'canceled': task.status == statuses.CANCELED}"
              (click)="editTask(task)">
            <div></div>
          </div>
          <div class="task-content" (click)="editTask(task)">
            <div class="task-title">{{ task.title }}</div>
            <div class="task-desc">{{ task.description }}</div>
          </div>
          <img class="delete-btn" 
               (click)="deleteTask(task.id)" 
               src="assets/icon/trash.svg"/>
        </div>
      }
    </div>
  </div>

</ion-content>
